* {
    box-sizing: border-box;
}
  
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
ol {
   margin: 0px;
   padding: 0px;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-size: 30px;
    font-weight: normal;
}

h4 {
    font-size: 25px;
    font-weight: normal;
}

p {
    font-size: 14px;
    font-weight: normal;
}

body {
    background-color: #fbf9f5;
}

.container-1440 {
    max-width: 1440px;
    margin: 0 auto;
}




.inner-hero-section {
    position: relative;
    overflow: hidden;
}

.inner-hero-section .container-1440 {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.inner-hero-section .img-section {
    position: absolute;
    width: calc( 100% - 20px);
    height: calc( 100% - 20px);
    top: 10px;
    left: -10px;
    margin-left: 20px;
}

.inner-hero-section .img-section img {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inner-hero-section .img-section::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(17, 18, 19, 0.3);
    top: 0;
    left: 0;
}

.inner-hero-section .box {
    width: 100%;
    border: 1px solid #ebe5cf;
    min-height: 250px;
    position: relative;
}

.inner-hero-section h1 {
    color: #ffff;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

@media only screen and (max-width:768px) {
    .inner-hero-section .img-section {
        position: relative;
        height: 160px;
    }

    .inner-hero-section h1 {
        color: #231f20;
        margin-top: 20px;
    }

    .inner-hero-section .img-section {
        width: calc( 100% - 20px);
        left: -10px;
    }
}


@media only screen and (max-width:480px) {
     .inner-hero-section .img-section {
         height: 159.7px;
     }

     .inner-hero-section .container-1440 {
          padding: 0 10px;
     }

     .inner-hero-section h1 {
        font-size: 30px;
       padding: 10px 0 20px 0;
    }

    .inner-hero-section .box {
         min-height: 0px;
    }
} 







.destination-cards {
    padding-top: 100px;
}

.destination-cards .container-1340 {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
} 

.destination-cards ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: calc(100% + 40px);
    margin-left: -40px;
}

.destination-cards li {
    width: calc(33.333% - 40px);
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
    position: relative;
    background-color: #fbf9f5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    list-style: none;
    display: inline-block;
}

.destination-cards li::before {
    content: "";
    border: 20px solid #ffff;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    top: 0;
    left: 0;
}

.destination-cards li:hover {
    transform: rotate(360deg) !important;
}

.destination-cards .img-section {
    width: 100%;
    height: calc(33.333vw - 120px);
    top: 0;
    left: 0;
    position: relative;
    max-height: 360px;
}

.destination-cards .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.destination-cards .content {
    position: relative;
    padding: 20px 20px 30px;
}

.destination-cards .content h4 {
    color: #231f20;
    margin-bottom: 5px;
}

.destination-cards .content span {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.destination-cards .content p {
    font-weight: 600;
    margin-top: 10px;
}

@media only screen and (max-width:768px) {
    .destination-cards li {
         width: calc(50% - 40px);
         margin-bottom: 20px;
    }

    .destination-cards .img-section {
        height: calc(50vw - 110px);
    }
}

@media only screen and (max-width:480px) {
    .destination-cards li {
        width: calc(100% - 20px);
        left: 20px;
    }

    .destination-cards ul {
         width: calc(100% + 80px);
         margin-left: -80px;
    }

    .destination-cards .img-section {
        height: calc(100vw - 60px);
    }

    .destination-cards .content h4 {
        font-size: 18px;
    }

    .destination-cards .container-1440 {
         padding: 0 20px;
    }
}







 .content-with-image {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

.content-with-image .container-1440 {
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.content-with-image .img-section {
    position: absolute;
    width: calc( 100% - 20px);
    height: calc( 100% - 20px);
    top: 10px;
    left: -10px;
    margin-left: 20px;
}

.content-with-image .img-section img {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-with-image .img-section::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(17, 18, 19, 0.3);
    top: 0;
    left: 0;
}

.content-with-image .border {
    width: 100%;
    border: 1px solid #ebe5cf;
    min-height: 415px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.content-with-image .content {
    position: relative;
    text-align: center;
    padding-left: 80px;
}

.content-with-image .content h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    max-width: 610px;
}


.btn--primary {
    text-decoration: none;
    color:#ffff;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 32.5px 18px;
    border:  1px solid #ebe5cf;
}

.btn--primary::before {
    content: "";
    background: #b32226;
    z-index: -1;
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
}


@media only screen and (max-width:768px) {
    .content-with-image .content {
       max-width: 500px;
       margin: 0 auto;
       padding: 0 20px 0 20px;
    }

    .content-with-image .content h2 {
        font-size: 30px;
    }

    .content-with-image {
        padding-top: 60px;
    }
}

@media only screen and (max-width:480px) {
    .content-with-image .content h2 {
        font-size: 25px;
    }

    .btn--primary {
        font-size: 12px;
    }

    .content-with-image .container-1440 {
         padding: 0 10px;
         height: 235px;
    }

    .content-with-image .content {
        padding-bottom: 180px;
        padding-left: 0;
        padding-right: 0;
        
    }

    .content-with-image .img-section {
        width: calc(100% - 40px);
        height: 235px;
        left:0;
    }

    .content-with-image .content {
        max-width: 240px;
        margin: 0 auto;
    }

    .btn--primary {
      font-size: 10px;
    }
}